<div class="card">
  <div class="card-body">
    <h4>Editar postagem:</h4>
    <form action="/admin/postagens/edit" method="POST">
      <input type="hidden" name="id" value="{{postagem._id}}" />
      <label for="titulo">Titulo</label>
      <input
        type="text"
        name="titulo"
        id="titulo"
        class="form-control"
        value="{{postagem.titulo}}"
      />
      <label for="slug">Slug</label>
      <input
        type="text"
        name="slug"
        id="slug"
        class="form-control"
        value="{{postagem.slug}}"
      />
      <label for="descricao">Descrição</label>
      <input
        type="text"
        name="descricao"
        id="descricao"
        class="form-control"
        value="{{postagem.descricao}}"
      />
      <label for="conteudo">Conteudo</label>
      <textarea
        name="conteudo"
        id="conteudo"
        class="form-control"
        value="{{postagem.conteudo}}"
      ></textarea>

      <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
    </form>
  </div>
</div>